<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rush Delivery</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="views/css/sb-admin-2.min.css"/>
    <link rel="stylesheet" href="views/css/style.css">
    <link href="./js/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="js/libraries/angular.js"></script>
    <script src="js/libraries/angular-route.js"></script>
    <script src="js/libraries/jquery.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/libraries/jquery-3.2.1.min.js"></script>
    <script src="js/libraries/jquery-ui.min.js"></script>
    <script src="js/config.js"></script>

    <!--Service Client-->
    <script src="js/service.client/user.service.client.js"></script>
    <script src="js/service.client/yelp.service.client.js"></script>
    <script src="js/service.client/cart.service.client.js"></script>
    <script src="js/service.client/order.service.client.js"></script>
    <script src="js/service.client/restaurant.service.client.js"></script>

    <!--Controllers-->
    <script src="views/user/controller/login.controller.client.js"></script>
    <script src="views/user/controller/profile.controller.client.js"></script>
    <script src="views/user/controller/register.controller.client.js"></script>
    <script src="views/main/controller/mainpage.controller.client.js"></script>
    <script src="views/foodlist/controller/list.controller.view.client.js"></script>

    <script src="views/restaurant/controller/new.controller.client.js"></script>
    <script src="views/order/controller/order.controller.client.js"></script>
    <script src="views/index/controller/index.controller.client.js"></script>
    <script src="views/foodlist/controller/menu.controller.view.client.js"></script>


</head>
<body class="bottomBar" ng-app="RollingFood" ng-controller="IndexController">

<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-toolbar">
        <ul class="nav navbar-top-links navbar-left">
            <a href="/">
                <li>
                    <img src="../../../resources/6jr3M0j.png">
                </li>
                <li>
                    <h4>RollingFood</h4>
                </li>
            </a>
        </ul>
        <div ng-show="!isLoggedIn">
            <ul class="nav navbar-top-links navbar-right">
                <li class="medium">
                    <a href="#!/login">
                        Login
                    </a>
                </li>
                <li class="medium">
                    <a href="#!/register">
                        Register
                    </a>
                </li>
            </ul>
        </div>

        <div ng-show="isLoggedIn">
            <ul class="nav navbar-top-links navbar-right">
                <li class="medium">
                    <div class="dropdown show">
                        <a id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> {{username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a href="#!/account" class="dropdown-item bigFont">
                                <span class="glyphicon glyphicon-pencil"></span>    My Account</a>
                            <a href="#!/profile" class="dropdown-item bigFont">
                                <span class="glyphicon glyphicon-pencil"></span>    Profile</a>
                            <br>
                            <a ng-click="logOut()" class="dropdown-item bigFont">
                                <span class="glyphicon glyphicon-log-out"></span>    Log Out</a>
                        </div>
                    </div>
                </li>
                <li class="medium">
                    <a href="#!/orderList">
                        My Order
                    </a>
                </li>
                <li class="medium">
                    <div class="dropdown show">
                        <a id="cartLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                        <div class="dropdown-menu wideDropdown" aria-labelledby="cartLink">
                            <table class="table table-striped">
                                <thead>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cartItem in cartItems">
                                        <td>{{cartItem.name}}</td>
                                        <td>{{cartItem.quantity}}</td>
                                        <td>{{cartItem.price}}</td>
                                        <td><button ng-click="deleteItem(cartItem.name)">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#!/orderNew" class="btn btn-danger">Check Out</a>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div ng-view></div>

<nav class="navbar navbar-fixed-bottom" role="navigation">
    <ul class="nav navbar-bottom-links navbar-left">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="#">
                Contact us
            </a>
        </li>
        <li>
            <a href="#">
                FAQ
            </a>
        </li>
    </ul>
</nav>
</body>
</html>