
<section class="inmiddle">
    <p class="header-big">
        RollingFood
    </p>
    <p class="header-small">
        Enjoy your food at home
    </p>
    <div class="input-group searchbar">
        <input type="text" class="form-control">
        <span class="input-group-btn">
        <a class="btn btn-default" type="button" style="margin-top: 0px">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
    <div class="decro">
        <img src="../../../resources/dimsum.png">
        <img src="../../../resources/dongbei.png">
        <img src="../../../resources/hotpot.png">
        <img src="../../../resources/sushi.png">
        <img src="../../../resources/sichuan.png">
    </div>
</section>