<nav class="navbar navbar-static-top cornsilk" role="navigation" style="margin-bottom: 0">
    <div class="navbar-toolbar">
        <ul class="nav navbar-top-links navbar-right">
            <li class="">
                <a href="#">
                    Login
                </a>
            </li>
            <li class="">
                <a href="#">
                    Register
                </a>
            </li>
            <li class="">
                <a href="#">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

