.form-control {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

body {
    background: seashell;
    background-size: 100% 100vh;
}

.medium {
    font-size:medium;
}

a {
    color:dimgrey;
}

a:hover{
    color:black;
}

.inmiddle {
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
    padding-top: 100px;
}

.header-big {
    font-size: 600%;
    font-family: "Comic Sans MS";
    text-align: center;
}

.header-small {
    font-size: 40px;
    font-family: "Comic Sans MS";
    text-align: center;
}

.decro img{
    width:19%;
    height:19%;
}

.navbar-toolbar img{
    width:50px;
    height:50px;
    margin-left: 10px;
}

.profileinmiddle{
    padding-left: 50px;
    padding-right: 50px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.list{
    margin-left: 20px;
    margin-right: 20px;
}

/*For required fields in login and register (use in login and register)*/
.require {
    color: red;
    float: right;
}

/*Make boday above the bottom bar(Add it in index body)*/
.bottomBar {
    margin-bottom: 5%;
}

.bigFont {
    font-size: 20px;
}

.wideDropdown {
    width: 600px;
}

.white {
    background-color: white;
}

.grey {
    background-color: wheat;
}

.orderPanel {
    margin-left: 6%;
    margin-right: 6%
}

.orderList {
    margin-bottom: 20px;
}
