

<div class="container">
    <h1>Login</h1>
    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>
    <div ng-show="model.success" class="alert alert-info">
        {{model.success}}
    </div>
    <input type="text"
           class="form-control"
           ng-model="username"
           placeholder="username"/>
    <input type="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>
    <a class="btn btn-primary btn-block" ng-click="model.login(username, password)">Login</a>
    <a class="btn btn-primary btn-block" ng-click="">Login with Facebook</a>
</div>
