<div class="alert-info" ng-show="model.message">
    {{model.message}}
</div>

<div class="profileinmiddle">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="form-group" ng-show="!model.hasRole">
        <label>Please select your identity</label>
        <p class="require" ng-show="!model.hasRole">* required</p>
        <select name="role" class="form-control" ng-model="model.user.role">
            <option value="USER">Customer</option>
            <option value="DELIVERYMAN">Delivery Man</option>
            <option value="MANAGER">Manager</option>
        </select>
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="model.user.username">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com"
               ng-model="model.user.email">
    </div>
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="Alice" ng-model="model.user.firstName">
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Wonderland" ng-model="model.user.lastName">
    </div>
    <div class="form-group">
        <label for="phone-number">Phone Number</label>
        <input type="tel" class="form-control" id="phone-number" placeholder="(617)-667-3372"
               ng-model="model.user.phone">
    </div>

    <a ng-click="model.updateUser()"
       class="btn btn-primary  btn-block">Update</a>
    <a ng-click="model.deleteUser()"
       class="btn btn-danger  btn-block">Delete</a>
    <a class="btn btn-danger  btn-block"
       href="#!/login">Logout</a>
</div>