<div class="container">
    <h1>Login</h1>
    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

    <div ng-show="model.success" class="alert alert-info">
        {{model.success}}
    </div>

    <label>Username</label>
    <p class="require" ng-show="!model.checkUsername">* required</p>
    <input type="text"
           class="form-control"
           ng-model="username"
           placeholder="username"/>

    <label>Password</label>
    <p class="require" ng-show="!model.checkPassword">* required</p>
    <input type="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>

    <a class="btn btn-primary btn-block" ng-click="model.login(username, password)">Login</a>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
</div>
