<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-toolbar">
        <img src="../../../resources/6jr3M0j.png">
        <ul class="nav navbar-top-links navbar-right">
            <li class="medium">
                <a href="#!/register">
                    Register
                </a>
            </li>
            <li class="medium">
                <a href="#">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Login</h1>
    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>
    <div ng-show="model.success" class="alert alert-info">
        {{model.success}}
    </div>
    <input type="text"
           class="form-control"
           ng-model="username"
           placeholder="username"/>
    <input type="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>
    <a class="btn btn-primary btn-block" ng-click="model.login(username, password)">Login</a>
    <a class="btn btn-primary btn-block" ng-click="">Login with Facebook</a>
</div>

<nav class="navbar navbar-fixed-bottom" role="navigation">
    <div class="navbar-toolbar">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#">
                    Contact us
                </a>
            </li>
            <li>
                <a href="#">
                    FAQ
                </a>
            </li>
        </ul>
    </div>
</nav>