<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">Order</div>
        <div class="col-xs-6">Address</div>
        <div class="col-xs-2">Deliver</div>
    </div>
    <div class="row">
        <div class="col-xs-4">Order1</div>
        <div class="col-xs-6">1155 tremont</div>
        <div class="col-xs-2">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">Order2</div>
        <div class="col-xs-6">1155 tremont</div>
        <div class="col-xs-2">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
</div>
