<div class="container">
    <h2>{{model.restaurantName}}</h2>

    <div ng-repeat="dishType in model.dishTypes">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div data-toggle="collapse" data-target="#{{dishType.apiKey}}">{{dishType.name}}</div>
                    </h4>
                </div>
                <div id="{{dishType.apiKey}}" class="panel-collapse collapse">
                    <ul class="list-group">
                        <div ng-repeat="item in dishType.items">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-4">{{item.name}}</div>
                                    <div class="col-xs-6">{{"$" + item.basePrice}}</div>
                                    <div class="col-xs-2">
                                        <span class="glyphicon glyphicon-minus pull-right"></span>
                                        <span class="glyphicon glyphicon-plus pull-right"></span>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>