<section class="row profileinmiddle">
    <div class="list-group-item">
        <h5 class="header" style="color: #1b6d85; text-align: center">My Orders</h5>
    </div>
    <div class="list-group-item">First order
    </div>
    <div class="list-group-item">Second order
    </div>
    <div class="list-group-item">Third order
    </div>
</section>

<!--<div ng-switch="model.user.role">-->
    <!--<section ng-switch-when="USER" class="row profileinmiddle">-->
        <!--<div class="list-group-item">-->
            <!--<h5 class="header" style="color: #1b6d85; text-align: center">My Orders</h5>-->
        <!--</div>-->
        <!--<div class="list-group-item">First item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
        <!--<div class="list-group-item">Second item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
        <!--<div class="list-group-item">Third item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
    <!--</section>-->

    <!--<section ng-switch-when="MANAGER" class="row profileinmiddle">-->
        <!--<div class="list-group-item">-->
            <!--<h5 class="header" style="color: #1b6d85; text-align: center">My Restaurants</h5>-->
        <!--</div>-->
        <!--<div class="list-group-item">First item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
        <!--<div class="list-group-item">Second item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
        <!--<div class="list-group-item">Third item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
    <!--</section>-->

    <!--<section ng-switch-when="DELIVERYMAN" class="row profileinmiddle">-->
        <!--<div class="list-group-item">-->
            <!--<h5 class="header" style="color: #1b6d85; text-align: center">My Deliveries</h5>-->
        <!--</div>-->
        <!--<div class="list-group-item">First item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
        <!--<div class="list-group-item">Second item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
        <!--<div class="list-group-item">Third item-->
            <!--<span class="glyphicon glyphicon-minus pull-right"></span>-->
            <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
        <!--</div>-->
    <!--</section>-->
<!--</div>-->